.root_container {
    display: flex;
    flex-direction: column;
    width:100vw;
    height:100vh;
    background-color: beige;
}

@font-face {
    font-family: "aggro";
    src: url("./assets/fonts/SB\ 어그로\ L.ttf");
    font-weight: 300;
  }
  
  @font-face {
    font-family: "aggro";
    src: url("./assets/fonts/SB\ 어그로\ M.ttf");
    font-weight: 500;
  }
  
  @font-face {
    font-family: "aggro";
    src: url("./assets/fonts/SB\ 어그로\ B.ttf");
    font-weight: 700;
  }
  