.related_info {
    font-size:20px;
    width:90%;
    height:80%;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: "aggro";
    font-weight: 500;
    color:#777;
    border: 2px solid #aaa;
}