.rep_detail_comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:55%;
    font-family: "aggro";
    font-weight: 500;
    color:#777;
}

.comment_content {
    font-size:20px;
    width:100%;
    height:70%;
    border: 2px solid #aaa;
}

.article_title {
    font-size:20px;
    width:100%;
    height:15%;
    border: 2px solid #aaa;
}

.article_link {
    font-size:20px;
    width:100%;
    height:15%;
    border: 2px solid #aaa;
}